<div>
    <h1>Welcome to the best {{title}}</h1>
    <form>
        <label for="budget">Max Budget (between 0 and 10000):</label>
        <input type="range" oninput="myFunction(this.value)">
        <p id="budget" name="budget" min=0 max=10000 ></p>
      </form> 
      <script>
        function myFunction(val) {//ww  w. ja  va2  s .  com
            document.getElementById("budget").innerHTML = val;
        }
        </script>

    <label for="weather">What is your weather be preference?:</label>
    <select name="weather" id="weather" [(ngModel)]="weather">
      <option value=tropical>tropical </option>
      <option value=hot>hot</option>
      <option value=cold>cold </option>
    </select>
    <div>
      <button (click)="onSendMessage()">Get Destination</button>
    </div>
  </div>
  
  <h2>We recommend: </h2>
  <div>
    {{name}}
  </div>