<!DOCTYPE html>
<html>
  <body>
    <div>
      <h1>Welcome to the best {{title}}</h1>
      <form>
        <label for="budget">Max Budget (between 0 and 10000):</label>
        <input
          type="range"
          id="budget"
          name="budget"
          min="0"
          max="10000"
          [(ngModel)]="budget"
        />
        {{budget}}
      </form>

      <h3>What is your weather be preference?:</h3>
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{weather}}
        </button>

        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#" (click)="weather = 'tropical'"
              >tropical</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" (click)="weather = 'hot'">hot</a>
          </li>
          <li>
            <a class="dropdown-item" href="#" (click)="weather = 'cold'"
              >cold</a
            >
          </li>
        </ul>
      </div>

      <div class="contain p-3">
        <button type="button" class="btn btn-primary" (click)="onSendMessage()">
          Get Destination
        </button>
      </div>
    </div>

    <h2>We recommend:</h2>
    <div>
      {{name}}
    </div>
  </body>
</html>
