<!DOCTYPE html>
<html>
<body>
<div>
    <h1>Welcome to the best {{title}}</h1>
    <form>
        <label for="budget">Max Budget (between 0 and 10000):</label>
        <input type="range" id="budget" name="budget" min=0 max=10000>
      </form> 
        
        <script>
            document.getElementById('budget').addEventListener('change',function() {
            this.setAttribute('value',this.value);
        });
        </script>
    <label for="weather">What is your weather be preference?:</label>
    <select name="weather" id="weather" [(ngModel)]="weather">
      <option value=tropical>tropical </option>
      <option value=hot>hot</option>
      <option value=cold>cold </option>
    </select>
    <div>
      <button (click)="onSendMessage()">Get Destination</button>
    </div>
  </div>
  
  <h2>We recommend: </h2>
  <div>
    {{name}}
  </div>


</body>
</html>